<nav class='navbar navbar-expand-lg navbar-light bg-light'>
  <ul class='navbar-nav mr-auto'>
    <li class ="home">
      <%= link_to 'Home', posts_path %>
    </li>
    <li class = "home">
      <%= link_to 'Post New Page', new_post_path %>
    </li>
  </ul>
  <div>
    <% if user_signed_in? %>
      <%= link_to "LogOut", sessions_path, method: :delete, class: 'btn btn-danger' %>
      <%= current_user.first_name %>
    <% else %>
      <%= link_to "Log In", new_sessions_path, class: 'btn btn-success'%>
    <% end %>
  </div>
</nav>